<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.A_AuthorityMapper">

    <!--查询所有权限-->
    <select id="findAll" resultType="map">
        select*from a_permission;
    </select>
    <!--根据角色ID和模块id查询-->
    <select id="findByRoleIDAndPermID" resultType="int">
        select count(*) from a_role_per where roleID=#{roleID} and perID=#{permID}
    </select>
    <!--删除该角色的所有权限-->
    <select id="deleteRole_Perm">
        delete from a_role_per where roleID=#{roleID}
    </select>
    <!--新增角色权限-->
    <insert id="addRole_Perm">
        insert a_role_per values(null,#{roleID},#{permID})
    </insert>
</mapper>