<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.A_UserMapper">


    <!--根据手机号码查询用户-->
    <select id="findByPhoneNumber" resultType="map">
        select*from a_user where phoneNumber=#{phoneNumber}
    </select>
</mapper>