<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户信息</title>
	<link th:href="@{/assets/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/Content/css/datatables.min.css}" type="text/css"></link>
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <style>
        #TabEmployee td {
            text-align: center;
        }
        #TabEmployee td{
            align-content: center;
        }
    </style>
</head>

<body>
<!-- 主页内容-->
<div th:align="center" id="showUser">
    <nav class="navbar navbar-default" style="border-radius: 10px">
        <form class="navbar-form navbar-default" role="search">

            <div class="form-group">
                <label for="phoneNumber">手机号码：</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="请输入手机号码">
            </div>
            <div class="form-group">
                <label for="section">部门：</label>
                <select class="form-control" id="section" name="sectionID">
                    <option value="0">请选择</option>
                    <option th:each="section:${sections}" th:value="${section.sectionID}" th:text="${section.sectionName}">1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="role">角色：</label>
                <select class="form-control" id="role" name="roleID">
                    <option value="0">请选择</option>
                    <option th:each="role:${roles}" th:value="${role.roleID}" th:text="${role.roleName}"></option>

                </select>
            </div>
            <button type="button" class="btn btn-info" onclick="Change()">查询</button>
            <button class="btn btn-primary" type="button" onclick="add()">新增</button>
        </form>
    </nav>
    <table class="table table-hover" id="TabEmployee">
        <thead>
        <tr align="center">
            <th style="text-align:center;vertical-align: middle;"><b>编号</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>姓名</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>手机号码</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>身份证号码</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>性别</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>住址</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>部门</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>角色</b></th>
            <!--<th style="text-align:center;vertical-align: middle;"><b>状态</b></th>-->
            <th style="text-align:center;vertical-align: middle;"><b>操作</b></th>
        </tr>
        </thead>
    </table>
</div>

<!--新增用户-->
<div th:align="center" id="addUser"  style="display: none;">
    <h1 id="top">新增员工</h1>
    <form role="form" class="form-horizontal" onsubmit="return false"
          id="enterEmployeeFrom" enctype="multipart/form-data"
          th:action="@{/gateway/admin/userManage/addUser}"
          method="post">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             style="padding:0px;margin-top:10px;">

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="userName"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">员工名称：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">

                    <input class="form-control" id="userName" name="username" maxlength="20"
                           placeholder="请输入员工的名称"/> <input class="hidden" id="UserID"
                                                           name="userid"/> <input class="hidden" name="usertypedetailid" id="usertypedetailid"/>
                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="role"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">员工角色：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <select class="form-control" id="roleID" name="roleID"  onchange="rolechange(this.value)">
                        <option value="0">---请选择---</option>
                        <option th:each="role:${roles}" th:value="${role.roleID}" th:text="${role.roleName}"></option>
                    </select>

                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="IDNumber"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">身份证号码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <input class="form-control" id="IDNumber" name="IDNumber" maxlength="18"
                           onkeyup="value=value.replace(/[^\w\.\/]/ig,'');judgeID(this.id,value)"
                           placeholder="请输入身份证号码" onchange="YanZhengShenFenZheng(this.id,value)"/>
                    <input class="hidden" id="YongHuID" name="YongHuID"/>

                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="section"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">所属部门：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <select class="form-control" id="sectionID"
                            name="sectionID" onchange="sectionchange(this.value)">
                        <option value="0">---请选择---</option>
                        <option th:each="section:${sections}" th:value="${section.sectionID}" th:text="${section.sectionName}">1</option>
                    </select>

                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="PhoneNumber"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">手机号码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <input type="hidden" id="key" name="key">
                    <input class="form-control" id="PhoneNumber" name="phoneNumber"
                           maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')"
                           placeholder="请输入手机号码" onchange="YanZheng(this.id,value)"/>
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="sex"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">性别：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <select class="form-control" id="Sex" name="sex">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="address"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">居住地址：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">
                    <input class="form-control" id="address" name="address" maxlength="100"
                           placeholder="请输入地址"/>
                </div>
            </div>

            <div style="padding: 0px;margin-left: 0px;"
                 class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 row ">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="firstname"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary"></label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


                    <input class="form-control" style="visibility: hidden;">
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 password"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="LoginPassWord"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">登录密码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">

                    <input class="form-control" id="LoginPassWord" name="loginPassword"
                           type="password" maxlength="50" placeholder="请输入登录密码,初始密码：12345"/>
                </div>
            </div>

            <div style="padding: 0px;margin-left: 0px;"
                 class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 password">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="confirmLoginPassWord"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">确认登录密码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">

                    <input class="form-control" id="confirmLoginPassWord"
                           name="confirmLoginPassWord" type="password" maxlength="50"
                           placeholder="请确认登录密码,初始密码：12345"/>
                </div>
            </div>

            <div style="padding: 0px;margin-left: 0px;"
                 class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 password">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="paymentPassword"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">支付密码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">

                    <input class="form-control" id="paymentPassword" name="paymentpassword"
                           type="password" maxlength="50" placeholder="请输入支付密码,初始密码：12345"/>
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 password"
                 style="padding: 0px;margin-left: 0px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <label for="confirmPayPassWord"
                       class="col-lg-3 col-md-3 col-sm-3 col-xs-3  control-label text-right text-primary lb">确认支付密码：</label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 interval">

                    <input class="form-control" id="confirmPayPassWord"
                           name="confirmPayPassWord" type="password" maxlength="50"
                           placeholder="请确认支付密码,初始密码：12345"/>
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="position: relative;margin-left: 37px">
                    <h3 style="position: absolute; top: 80px; left: 150px;">上传个人照片</h3>
                    <input type="file" onchange="loadImg(0)" id="picture0" name="picture" judge="no"
                           accept="image/*"
                           style="width:100%; height:95% ;opacity: 0; z-index: 99; position: absolute; "/>
                    <img id="imgContent0" style="width:350px;height:250px;z-index: 0"
                         th:src="@{/assets/images/photo/head1.jpg}"/><input
                        id="FileName0" name="photo" class="hidden">
                    <input id="File0" name="a" class="hidden">
                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="margin-left: 10px">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="position: relative;margin-left: 30px">
                    <h3 style="position: absolute; top: 80px; left: 150px;">上传身份证照片</h3>
                    <input type="file" onchange="loadImg(1)" id="picture1" name="picture" judge="no"
                           accept="image/*"
                           style="width:100%; height:95% ;opacity: 0; z-index: 99; position: absolute; "/>
                    <img id="imgContent1" style="width:350px;height:250px;z-index: 0"
                         th:src="@{/assets/images/IDPhoto/IDNumber.png}"/><input
                        id="FileName1" name="IDPhoto" class="hidden">
                    <input id="File1" name="b" class="hidden">
                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 driver"
                 style="display: none;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="position: relative;margin-left: 30px">
                    <h3 style="position: absolute; top: 80px; left: 150px;">上传人车合照</h3>
                    <input type="file" onchange="loadImg(2)" id="picture2" name="picture" judge="no"
                           accept="image/*"
                           style="width:100%; height:95% ;opacity: 0; z-index: 99; position: absolute; "/>
                    <img id="imgContent2" style="width:350px;height:250px;z-index: 0"
                         th:src="@{/assets/images/IDPhoto/manCarPhoto.jpg}"/><input
                        id="FileName2" name="manCarPhoto" class="hidden">
                    <input id="File2" name="v" class="hidden">
                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 driver"
                 style="margin-left: 10px;display: none;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="position: relative;margin-left: 30px">
                    <h3 style="position: absolute; top: 80px; left: 150px;">上传驾驶证照片</h3>
                    <input type="file" onchange="loadImg(3)" id="picture3" name="picture" judge="no"
                           accept="image/*"
                           style="width:100%; height:95% ;opacity: 0; z-index: 99; position: absolute; "/>
                    <img id="imgContent3" style="width:350px;height:250px;z-index: 0"
                         th:src="@{/assets/images/IDPhoto/3.jpeg}"/> <input
                        id="FileName3" name="drivingLicencePhoto" class="hidden">
                    <input id="File3" name="c" class="hidden">

                </div>

            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-info" onclick="inputemployee()"
                            style="float: right;">确定
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-info" onclick="userGuanBi()" style="float: left;">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>
	<script type="text/javascript" th:src="@{/Content/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/Content/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/Content/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/Content/js/ValidateIDCardNumber.js}"></script>
    <script type="text/javascript" th:src="@{/Content/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/Content/js/datatables.min.js}"></script>

<!--显示所有用户信息-->

<!--验证新增信息-->
<script>
    var TabEmployee;
    $(function() {
        TabEmployee = $('#TabEmployee')
            .DataTable(
                {
                    responsive: true,
                    "pagingType" : "simple_numbers",//设置分页控件的模式
                    searching : false,//屏蔽datatales的查询框
                    // aLengthMenu : [ count ],//设置一页展示10条记录
                    "bSort" : false,// 是否排序功能
                    "bLengthChange" : true,//屏蔽tables的一页展示多少条记录的下拉列表
                    "bAutoWidth" : false,// 是否非自动宽度  设置为false
                    "oLanguage" : { //对表格国际化
                        "sLengthMenu" : "每页显示 _MENU_条",
                        "sZeroRecords" : "没有找到符合条件的数据",
                        //  "sProcessing": "&lt;img src=’./loading.gif’ /&gt;",
                        "sInfo" : "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                        "sInfoEmpty" : "木有记录",
                        "sInfoFiltered" : "(从 _MAX_ 条记录中过滤)",
                        "sSearch" : "搜索：",
                        "sProcessing" : "正在加载中......",
                        "oPaginate" : {
                            "sFirst" : "首页",
                            "sPrevious" : "前一页",
                            "sNext" : "后一页",
                            "sLast" : "尾页"

                        }
                    },
                    "lengthMenu" : [ 2, 5, 10, 20, 50 ],
                    "processing" : true, //打开数据加载时的等待效果
                    "serverSide" : true,//打开后台分页
                    "ajax" : {
                        "url" : "/gateway/admin/userManage/findUserAll",
                        "dataSrc" : "aaData",
                        "data" : function(d) {
                            d.phoneNumber = $("#phoneNumber").val();
                            d.sectionID=$("#section").val();
                            d.roleID=$("#role").val();
                        }
                    },
                    "columns" : [
                        {
                            "data" : null,
                            "width" : "60px",
                            render:function(data,type,row,meta) {
                                return meta.row + 1 +
                                    meta.settings._iDisplayStart;
                            }
                        },
                        {
                            "data" : "userName",
                            "width" : "50px"
                        },
                        {
                            "data" : "phoneNumber",
                            "width" : "50px"
                        },{
                            "data" : "IDNumber",
                            "width" : "50px"
                        },
                        {
                            "data" : "sex",
                            "width" : "50px"
                        },
                        {
                            "data" : "address",
                            "width" : "40px"
                        },
                        {

                            "data" : "sectionName",
                            "width" : "50px"

                        },
                        {
                            "data" : "roleName",
                            "width" : "50px"
                        },
                        {
                            "data" : function(obj) {
                                return ' <button class="btn btn-info AuditRecord" value="'
                                    + obj.phoneNumber
                                    + '"  onclick="updateUser(this.value)" id="update">修改</button> '
                            },
                            "width" : "80px"

                        } ]

                });

    });
    //不现实错误提示框
    $.fn.dataTable.ext.errMode = 'none';
    function Change() {
        TabEmployee.ajax.reload();
    }

    var PanDuan=1;
        //输入验证------------------------------------------------------------------------
        function judgeID(ID, value) {
            if (value.length == 18) {
                checkCard(value);
            } else {
                var reg = /^[a-zA-Z]+$/;
                if (reg.test(value)) {
                    layer.msg("请输入正确的身份证号码！！", {
                        icon: 0,

                        offset: '100px'
                    });
                    $("#" + ID).val("");
                }

            }

        }

        function YanZhengShenFenZheng(ID, value) {
            if (value.length != 18) {
                layer.msg("请输入正确的身份证号码！！", {
                    icon: 0,

                    offset: '100px'
                });
                $("#" + ID).val("");
            }

        }

        function YanZheng(ID, value) {
            var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(value)) {
                layer.msg("请输入正确的手机号码！！", {
                    icon: 0,
                    offset: '100px'
                });
                $("#" + ID).val("");
            }

        }
        var PANDUAN=1;
        //---------------------------------------------------------------------------
        //信息非空验证-----------------------------------------------------------------
        function inputemployee() {
            //获得客户名称
            var userName = $("#userName").val();
            //获得身份证号码
            var IDNumber = $("#IDNumber").val();
            //获得手机号码
            var PhoneNumber = $("#PhoneNumber").val();
            //获得居住地址
            var address = $("#address").val();
            //获得登录密码
            var LoginPassWord = $("#LoginPassWord").val();
            //获的确认登录密码
            var confirmLoginPassWord = $("#confirmLoginPassWord").val();
            //获得支付密码
            var paymentPassword = $("#paymentPassword").val();
            //获得确认支付密码
            var confirmPayPassWord = $("#confirmPayPassWord").val();
            //获得员工角色
            var role = $("#roleID").val();
            //获得部门
            var section = $("#sectionID").val();
            //获得个人照片路径
            var picture0 = $("#FileName0").val();
            //获得身份证照片路径
            var picture1 = $("#FileName1").val();
            //获得人车合照
            var picture3 = $("#FileName3").val();
            //获得驾驶证照片
            var picture2 = $("#FileName2").val();
            if(PANDUAN==1){
                if ( LoginPassWord == null || LoginPassWord == "" || paymentPassword == null || paymentPassword == "" ) {
                    layer.msg('请填写完整信息', {
                        icon: 2,
                        time: 1000
                    })
                    return false;
                }
            }
            if (role == 1 && section == 2) {
                if (userName == null || userName == "" || IDNumber == null || IDNumber == "" || PhoneNumber == null ||
                    PhoneNumber == "" || address == null || address == "" || role == '0' || section == '0' ||
                    picture0 == null || picture0 == "" || picture1 == null || picture1 == "" ||
                    picture3 == null || picture3 == "" || picture2 == null || picture2 == "") {
                    layer.msg('请填写完整信息', {
                        icon: 2,
                        time: 1000
                    })
                    return false;
                }
            } else {
                if (userName == null || userName == "" || IDNumber == null || IDNumber == "" || PhoneNumber == null ||
                    PhoneNumber == "" || address == null || address == "" || role == "0" || section == "0" ||
                    picture0 == null || picture0 == "" || picture1 == null || picture1 == "") {
                    layer.msg('请填写完整信息', {
                        icon: 2,
                        time: 1000
                    })
                    return false;
                }
            }
            if(PANDUAN==1){
                if (LoginPassWord != confirmLoginPassWord) {
                    layer.msg('登录密码输入不一致', {
                        icon: 2,
                        time: 1000
                    })
                    return false;
                } else if (paymentPassword != confirmPayPassWord) {
                    layer.msg('支付密码输入不一致', {
                        icon: 2,
                        time: 1000
                    })
                    return false;
                }
            }
                    var index = layer.load(1); //添加laoding,0-2两种方式
                    $("#enterEmployeeFrom").ajaxSubmit(function (data) {
                        if (data == "1") {
                            layer.close(index);
                            if(PANDUAN==1){
                                layer.msg("新增成功", {
                                    icon: 1,
                                    time: 1000
                                })
                            }else{
                                layer.close(index);
                                layer.msg("修改成功", {
                                    icon: 1,
                                    time: 1000
                                })
                            }
                        } else {
                            layer.close(index);
                            layer.msg(data, {
                                icon: 2,
                                time: 1000
                            })
                        }
                    })

        }

        //加载图片---------------------------------------------------------
        function loadImg(Count) {
            //获取文件
            var file = $("#picture" + Count)[0].files[0];
            $("#FileName" + Count).val(file.name);
            $("File"+Count).val(file.name);
            //创建读取文件的对象
            var reader = new FileReader();
            //创建文件读取相关的变量
            var imgFile;
            //为文件读取成功设置事件
            reader.onload = function (e) {
                imgFile = e.target.result;
                $("#imgContent" + Count).attr('src', imgFile);
            };
            //正式读取文件
            reader.readAsDataURL(file);

        }

        //--------------------------------------------------------------
        //判断是否是司机--------------------------------------------------
        var section;
        var role;

        function rolechange(ID) {
            role = ID;
            if (ID == '1' && section == '2') {
                $(".driver").show();
            } else {
                $(".driver").hide();
            }
        }

        function sectionchange(ID) {
            section = ID;
            if (ID == '2' && role == '1') {
                $(".driver").show();
            } else {
                $(".driver").hide();
            }
        }
    //----------------------------------------------------
    //点击新增按钮
    function add(){
        $("#top").text("新增用户")
        PANDUAN=1;
        $("#showUser").hide();
        $("#addUser").show();
        $(".password").show();
        $("#imgContent1").attr("src", "/assets/images/IDPhoto/IDNumber.png");
        $("#imgContent0").attr("src", "/assets/images/photo/head1.jpg");
        $("#imgContent3").attr("src", "/assets/images/IDPhoto/3.jpeg");
        $("#imgContent2").attr("src", "/assets/images/IDPhoto/manCarPhoto.jpg");
        $("#enterEmployeeFrom").attr("action","/gateway/admin/userManage/addUser");
    }

    //点击关闭按钮
    function userGuanBi(){
        $("#addUser").hide();
        $("#showUser").show();
        $("#enterEmployeeFrom input").val("");
        $("#sectionID").val(0);
        $("#roleID").val(0);
        $(".driver").hide();
        section=0;
        role=0;
        Change();
    }

    //点击修改按钮
    function updateUser(phoneNumber){
        PANDUAN=2;
        $("#showUser").hide();
        $("#top").text("修改用户")

        $.post("/gateway/admin/userManage/findByPhoneNumber/"+phoneNumber,{},function (data) {
            section=data.sectionID;
            role=data.roleID;
            $("#userName").val(data.userName);
            $("#IDNumber").val(data.IDNumber);
            $("#PhoneNumber").val(data.phoneNumber);
            $("#key").val(data.phoneNumber);
            $("#address").val(data.address);
            $("#sectionID").val(data.sectionID);
            $("#roleID").val(data.roleID);
            $(".password").hide();
            $("#imgContent1").attr("src","/gateway/admin/images/"+data.IDPhoto);
            $("#imgContent0").attr("src","/gateway/admin/images/"+data.photo);
            $("#FileName1").val(data.IDPhoto)
            $("#FileName0").val(data.photo)
            $("#UserID").val(data.userID);

            if(data.manCarPhoto==null||data.manCarPhoto==""){
                $("#imgContent3").attr("src", "/gateway/admin/assets/images/IDPhoto/3.jpeg");
                $("#imgContent2").attr("src", "/gateway/admin/assets/images/IDPhoto/manCarPhoto.jpg");
            }else
            {
                $("#imgContent3").attr("src","/gateway/admin/images/"+data.drivingLicencePhoto);
                $("#imgContent2").attr("src","/gateway/admin/images/"+data.manCarPhoto);
                $("#FileName3").val(data.drivingLicencePhoto)
                $("#FileName2").val(data.manCarPhoto)
            }

            $("#enterEmployeeFrom").attr("action","/gateway/admin/userManage/updateUser");
            $("#addUser").show();
        })

    }
</script>
</body>
</html>