<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/gateway/attend/assets/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/gateway/attend/assets/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/gateway/attend/Content/css/datatables.min.css}" type="text/css"></link>
    <style>
        td,th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <button class="btn btn-success" id="return">返回</button>
    <table class="table table-hover" id="TabLeave">
        <thead>
        <tr>
            <th style="text-align: center;">编号</th>
            <th style="vertical-align: middle">任务阶段</th>
            <th style="vertical-align: middle">阶段开始时间</th>
            <th style="vertical-align: middle">阶段结束时间</th>
            <th style="vertical-align: middle">任务办理人</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="st,s:${list}">
                <td th:text="${s.count}"/>
                <td th:text="${st.name}"/>
                <td th:text="${#dates.format(st.startTime,'yyyy-MM-dd HH:ss:mm')}"/>
                <td th:text="${#dates.format(st.endTime,'yyyy-MM-dd HH:ss:mm')}"/>
                <td th:text="${st.userName}"/>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/gateway/attend/Content/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/gateway/attend/Content/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/gateway/attend/assets/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/gateway/attend/assets/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/gateway/attend/Content/js/datatables.min.js}"></script>
</html>

<script>
    var type='[[${type}]]';
    $("#return").click(function(){
        if(type=='userEndLeave'){
            location='/gateway/attend/leaveManage/leaveRecord?token=[[${userID}]]';
        }else{
            location='/gateway/attend/leaveManage/LeavePlan?token=[[${userID}]]';
        }

    })
</script>