<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/gateway/admin/assets/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/gateway/admin/assets/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/gateway/admin/Content/css/datatables.min.css}" type="text/css"></link>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ERuIpcY6utL2GVFXGpQamaKKICP8Rueq"></script>
</head>
<style>
    #TabRoute td{
        text-align: center;
    }
    #TabRoute td{
        align-content: center;
    }
    body {
        padding: 0px;
        margin: 0px
    }
    body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
    #allmap{
        height: 870px;
        width:100%;
    }
</style>
<body>

<div id="DiTu" style="display: none;position:relative">
    <div id="allmap"></div>
    <button class="btn btn-default" onclick="back()" style=" position:fixed; top:2%; right:2%;">返 回</button>
</div>



<!-- 主页内容-->
<div th:align="center" id="showUser">
    <nav class="navbar navbar-default" style="border-radius: 10px">
        <form class="navbar-form navbar-default" role="search">

            <div class="form-group">
                <label for="cprovince">出发地：</label>
                <select class="form-control" id="cprovince" name="cprovinceID" style="width: 130px">
                    <option value="0">请选择省份</option>
                    <option th:each="p:${ps}" th:value="${p.proID}" th:text="${p.proName}"></option>
                </select>
                <select class="form-control" id="ccity" name="ccityID" style="width: 130px">
                    <option value="0">请选择城市</option>
                </select>
                <select class="form-control" id="cdistrict" name="routeStartID" style="width: 130px">
                    <option value="0">请选择区县</option>
                </select>
            </div>
            ——>
            <div class="form-group">
                <label for="dprovince">到达地：</label>
                <select class="form-control" id="dprovince" name="dprovinceID" style="width: 130px">
                    <option value="0">请选择省份</option>
                    <option th:each="p:${ps}" th:value="${p.proID}" th:text="${p.proName}">1</option>
                </select>
                <select class="form-control" id="dcity" name="dcity" style="width: 130px">
                    <option value="0">请选择城市</option>
                </select>
                <select class="form-control" id="ddistrict" name="routeEndID" style="width: 130px">
                    <option value="0">请选择区县</option>
                </select>
            </div>
            <button type="button" class="btn btn-info" onclick="Change()">查询</button>
            <button  class="btn btn-primary" type="button" onclick="add()">新增</button>
        </form>
    </nav>
    <table class="table table-hover" id="TabRoute">
        <thead>
        <tr align="center">
            <th style="text-align:center;vertical-align: middle;"><b>编号</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>出发地</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>到达地</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>联系人姓名</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>联系人电话</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>运价</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>时效</b></th>
            <th style="text-align:center;vertical-align: middle;"><b>操作</b></th>
        </tr>
        </thead>
    </table>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" name="btn_close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增路线</h4>
                </div>
                <div class="modal-body">

                    <form class="navbar-form" id="addform" role="search" th:action="@{/gateway/admin/siteManage/addRoute}">
                        <input type="hidden" id="routeID" name="RouteID">
                        <div class="form-group">
                            <label for="cprovince">出发地：</label>
                            <select class="form-control" id="addcprovince" name="addcprovinceID" style="width: 130px">
                                <option value="0">请选择省份</option>
                                <option th:each="p:${ps}" th:value="${p.proID}" th:text="${p.proName}"></option>
                            </select>
                            <select class="form-control" id="addccity" name="addccityID" style="width: 130px">
                                <option value="0">请选择城市</option>
                            </select>
                            <select class="form-control" id="addcdistrict" name="routeStartID" style="width: 130px">
                                <option value="0">请选择区县</option>
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <label for="cprovince">到达地：</label>
                            <select class="form-control" id="adddprovince" name="adddprovinceID" style="width: 130px">
                                <option value="0">请选择省份</option>
                                <option th:each="p:${ps}" th:value="${p.proID}" th:text="${p.proName}"></option>
                            </select>
                            <select class="form-control" id="adddcity" name="adddcityID" style="width: 130px">
                                <option value="0">请选择城市</option>
                            </select>
                            <select class="form-control" id="addddistrict" name="routeEndID" style="width: 130px">
                                <option value="0">请选择区县</option>
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <label for="userName">联系人：</label>
                            <select class="form-control" id="userName" name="userID" style="width: 398px">
                                <option value="0">请选择联系人</option>
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <div class="form-group" style="margin-left: 13px">
                            <label for="FreightRate">运价：</label>
                            <input type="text" name="FreightRate" class="form-control" id="FreightRate" style="width: 398px;">
                        </div>
                        <br/>
                        <br/>
                        <div class="form-group" style="margin-left: 10px">
                            <label for="Prescription">时效：</label>
                            <input type="text" name="Prescription" class="form-control" id="Prescription" style="width: 398px">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" name="btn_close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/gateway/admin/Content/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/gateway/admin/Content/js/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/gateway/admin/Content/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/gateway/admin/assets/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/gateway/admin/Content/js/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/gateway/admin/assets/js/admin/route.js}"></script>

<script>
    var map;
    function bdMap(val){
        $("#DiTu").show();
        $("#showUser").hide();
        map = new BMap.Map("allmap");
        initMap();//创建和初始化地图
        var lj=val.split("=");
        drivingRoute(lj[0],lj[1]);
        layer.closeAll('loading');
    }

    //返回
    function back(){
        $("#DiTu").hide();
        $("#showUser").show();
    }
    // 创建和初始化地图函数：
    function initMap() {
        layer.load(1);
        createMap();// 创建地图
        setMapEvent();// 设置地图事件
        addMapControl();// 向地图添加控件
        //getlocation();
    }

    // 创建地图函数：
    function createMap() {
        var point = new BMap.Point(116.401137, 39.913807);// 定义一个中心点坐标
        map.centerAndZoom(point, 7);// 设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;// 将map变量存储在全局
    }

    // 地图控件添加函数：
    function addMapControl() {
        // 向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({
            anchor : BMAP_ANCHOR_TOP_LEFT,
            type : BMAP_NAVIGATION_CONTROL_LARGE
        });
        map.addControl(ctrl_nav);
        // 向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({
            anchor : BMAP_ANCHOR_BOTTOM_RIGHT,
            isOpen : 1
        });
        map.addControl(ctrl_ove);
        // 向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({
            anchor : BMAP_ANCHOR_BOTTOM_LEFT
        });
        map.addControl(ctrl_sca);
    }
    // 地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();// 启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();// 启用地图滚轮放大缩小
        map.enableDoubleClickZoom();// 启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();// 启用键盘上下左右键移动地图
    }

    //线路路径
    function drivingRoute(routeStart,routeEnd) {
        var driving = new BMap.DrivingRoute(map, {renderOptions: {map: map}});
        driving.search(routeStart,routeEnd);
    }
</script>
</html>