<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--头部-->
<div class="navbar navbar-inverse navbar-fixed-top" id="top">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img th:src="@{/assets/images/logo_light.png}" alt="">
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <!--<p class="navbar-text"><span class="label bg-success-400">Online</span></p>-->

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user" >
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/placeholder.jpg" alt="">
                    <span>管理员</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="myFont">
                        <a href="userInfo.do?method=exit"><i class="icon-switch2"></i>退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<!-- Page header -->
<div class="page-header" id="page_header">
    <div class="breadcrumb-line breadcrumb-line-wide">
        <ul class="breadcrumb">
            <li><a href="userInfo.do?method=forMain"><i class="icon-home2 position-left"></i> 涛涛涛涛</a></li>
            <li><a href="extension_velocity_examples.html">Velocity</a></li>
            <li class="active">Examples</li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">欢迎使用汉达物流系统</span></h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>统计报表</span></a>
                <!--					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                                    <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>-->
            </div>
        </div>
    </div>
</div>


<div class="sidebar sidebar-main sidebar-default" id="che">
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
                <span style="font-family:'幼圆'">内容导航</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content sidebar-user">
                <div class="media">
                    <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">用户名：管理员</span>
                        <p>角色：系统管理员</p>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;当前位置：
                        </div>
                    </div>
                </div>
            </div>

            <!-- ***********************************导航栏开始****************************************** -->
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header">
                        <span class="myFont">主要</span>
                        <i class="icon-menu" title="主要"></i>
                    </li>
                    <li class="active">
                        <a href="userInfo.do?method=forMain">
                            <i class="icon-home4"></i>
                            <span class="myFont">主页</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-stack2"></i>
                            <span class="myFont">企业数据</span>
                        </a>
                        <ul>
                            <li><a href="front/LogisticsSpecialLine" class="myFont">仓库管理</a></li>
                            <li><a href="repArea.do?method=select" class="myFont">区域资料</a></li>
                            <li><a href="litera.do?method=WselectLitera" class="myFont">仓位资料</a></li>
                            <li><a href="car.do?method=WselectAll" class="myFont">车辆管理</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-users"></i>
                            <span class="myFont">客户服务</span>
                        </a>
                        <ul>
                            <li><a href="customer.do?method=WselectAll" class="myFont">客户资料</a></li>
                            <li><a href="cusOrder.do?method=WselectAll&num=1" class="myFont">订单录入</a></li>
                            <li><a href="cusOrder.do?method=WselectAll&num=2" class="myFont">订单跟踪</a></li>
                            <li><a href="cusOrder.do?method=Wselect" class="myFont">订单接收</a></li>
                            <li><a href="cusOrder.do?method=WselectAll&num=4" class="myFont">订单处理</a></li>
                            <li><a href="cusOrder.do?method=WselectAll&num=3" class="myFont">客户签收</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-download7"></i>
                            <span class="myFont">采购管理</span>
                        </a>
                        <ul>
                            <li><a href="supplier.do?method=caiShow" class="myFont">供应商</a></li>
                            <li><a href="purApply.do?method=caiShow" class="myFont">采购申请</a></li>
                            <li><a href="purchaseOrder.do?method=caiShow" class="myFont">采购订单</a></li>
                            <li><a href="purchaseOrder.do?method=caiShowNoSend" class="myFont">订单发送</a></li>
                            <li><a href="stock.do?method=caiShow" class="myFont">到货接单</a></li>
                            <li><a href="aogInform.do?method=caiShow" class="myFont">到货处理</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class=" icon-office"></i>
                            <span class="myFont">供应商管理</span>
                        </a>
                        <ul>
                            <li><a href="purchaseOrder.do?method=caiShowAccept" class="myFont">订单接收</a></li>
                            <li><a href="purchaseOrder.do?method=caiShowStock" class="myFont">备货</a></li>
                            <li><a href="stock.do?method=caiShowManage" class="myFont">备货处理</a></li>
                            <li><a href="stock.do?method=caiShowSend" class="myFont">发货</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class=" icon-enter2"></i>
                            <span class="myFont">入库管理</span>
                        </a>
                        <ul>
                            <li><a href="storageJob.do?method=caiShow" class="myFont">入库接单</a></li>
                            <li><a href="storageJob.do?method=caiShowHand" class="myFont">入库装卸</a></li>
                            <li><a href="storageJob.do?method=caiShowCargo" class="myFont">入库验货</a></li>
                            <li><a href="storageJob.do?method=caiShowPlace" class="myFont">摆货作业</a></li>
                            <li><a href="storageJob.do?method=caiShowIs" class="myFont">入库确认</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-exit2"></i>
                            <span class="myFont">出库管理</span>
                        </a>
                        <ul>
                            <li><a href="outputJob.do?method=caiShow" class="myFont">出库接单</a></li>
                            <li><a href="outputJob.do?method=showPlace" class="myFont">出库拣选</a></li>
                            <li><a href="outputJob.do?method=caiShowHand" class="myFont">出库装卸</a></li>
                            <li><a href="outputJob.do?method=showIs" class="myFont">出库确认</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-home7"></i>
                            <span class="myFont">库存管理</span>
                        </a>
                        <ul>
                            <li><a href="userInfo.do?method=loginTwo" class="myFont">仓库检查</a></li>
                            <li><a href="matCheck.do?method=materCheck" class="myFont">物料检查</a></li>
                            <li><a href="repCheck.do?method=materialScrap" class="myFont">物料报废</a></li>
                            <li><a href="mateScrap.do?method=repertoryTack" class="myFont">库存盘点</a></li>
                            <li><a href="repCheck.do?method=repertoryCheckSelect" class="myFont">仓库检查单查询</a></li>
                            <li><a href="repCheck.do?method=materialCheckSe" class="myFont">物料检查单查询</a></li>
                            <li><a href="repCheck.do?method=materialScrapSelect" class="myFont">物料报废单查询</a></li>
                            <li><a href="repCheck.do?method=repertoryTackSelect" class="myFont">库存盘点单查询</a></li>
                            <li><a href="repCheck.do?method=repertorySelect" class="myFont">库存查询</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#">
                            <i class="icon-train2"></i>
                            <span class="myFont">配送运输</span>
                        </a>
                        <ul>
                            <li><a href="deliTask.do?method=findAll" class="myFont">配送任务</a></li>
                            <li><a href="carContDeta.do?method=showDis" class="myFont">车辆调度</a></li>
                            <li><a href="carWiring.do?method=load" class="myFont">配线管理</a></li>
                            <li><a href="carOut.do?method=findAll" class="myFont">出车管理</a></li>
                            <li><a href="carIn.do?method=findAll" class="myFont">回车管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-newspaper"></i>
                            <span class="myFont">单据查询</span>
                        </a>
                        <ul>
                            <li><a href="purApply.do?methoa=select" class="myFont">采购申请</a></li>
                            <li><a href="purchaseOrder.do?method=select" class="myFont">采购订单</a></li>
                            <li><a href="aogInform.do?method=select" class="myFont">到货通知</a></li>
                            <li><a href="storageJob.do?method=select" class="myFont">入库作业单</a></li>
                            <li><a href="outputJob.do?method=select" class="myFont">出库作业单</a></li>
                            <li><a href="deliTask.do?method=select" class="myFont">配送任务单</a></li>
                            <li><a href="cusOrder.do?method=select" class="myFont">客户订单</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /main navigation -->
        <!-- ***********************************导航栏结束****************************************** -->

    </div>
</div>
</body>
</html>